<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <variable name="LOG_DIR" value="${LOG_DIR:-/var/log/credgenics_logs}"/>
    <property name="LOG_PATH" value="logs"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%red([%-5level]) @%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [THREAD]: %t [MODULE]: %X{id} %c{1} --- %cyan([MESSAGE]: %msg)  %n"/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <!--        <encoder>-->
        <!--            <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
        <!--            <charset>utf8</charset>-->
        <!--        </encoder>-->

        <layout class="com.credgenics.logger.CustomLogbackJsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
            <includeContextName>false</includeContextName>
        </layout>

    </appender>

    <appender name="ROLLING_JSON_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>app_logs.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <layout class="com.credgenics.logger.CustomLogbackJsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>false</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
            <includeContextName>false</includeContextName>
        </layout>

    </appender>


    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE_APPENDER"/>
        <!--        <appender-ref ref="ROLLING_JSON_FILE_APPENDER"/>-->
    </root>

</configuration>